@import '/src/assets/styles/_variables.scss';
@import '/src/assets/styles/_mixins.scss';
.form {
	padding: 44px;
	@include page;
}

.list {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.button {
	width: 100%;
	display: flex;
}
.exercise_list {
	@include display-space-between;

	> button {
		background-color: $dark-gray;
		border: none;
	}
}

.link {
	color: $white;
	right: 0;
	text-decoration: none;
	opacity: 0.5;
	cursor: pointer;

	@media (max-width: $mobile) {
		font-size: 18px;
	}

	&:hover {
		color: $gray;
		transition: color 0.3s ease;
	}
}
