@import 'src/assets/styles/variables';
@import 'src/assets/styles/animations';

.palette {
	position: absolute;
	right: 80px;
	top: 3px;
	background-color: transparent;
	animation: opacity 0.4s;
	display: flex;

	div {
		> svg {
			border-radius: 50%;
		}
		margin-left: 0.3rem;
	}
}
