@import '/src/assets/styles/_variables.scss';

.input {
	background-color: $bg-color-ui;
	padding: 14px;
	color: #000;
	border-radius: 10px;
	font-size: 20px;
	width: 100%;
	outline: none;
	border: none;
	&::placeholder {
		color: #000;
	}
}
