@import '/src/assets/styles/_variables.scss';
@import '/src/assets/styles/_mixins.scss';
.header {
	@include display-space-between;
	padding: 25px;
	> button {
		background-color: transparent;
		border: none;
		cursor: pointer;
	}
	.burger-menu {
		display: flex;
		flex-direction: column;
		margin: 10px;
		> img {
			margin: 2px;
		}
	}
}
