@import '/src/assets/styles/_mixins.scss';
@import '/src/assets/styles/variables.scss';
.form {
	padding: 44px;
	@include page;
}

.icon {
	width: 55%;
	@include display-center;
	justify-content: space-between;
	margin-bottom: 2rem;
	margin-top: 2rem;
	@media (max-width: $mobile) {
		width: 70%;
	}
	> img {
		cursor: pointer;

		&:hover {
			border-bottom: 4px $pink solid;
			opacity: 0.8;
		}
		> svg {
			color: var(--color-text);
		}
	}
}
