@import '/src/assets/styles/_variables.scss';

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	padding: 13px;
}

.wrapper {
	background-color: #dec6c6;
	width: 103px;
	height: 103px;
	border-radius: 30px;
	display: flex;
	align-items: center;
	margin: 0 auto;
	justify-content: center;
}

.main {
	max-width: $mobile;
	background-color: #dec6c6;
	border-radius: 23px;
	margin-top: 5rem !important ;
	> form {
		padding: 24px;
	}
}

.wrapperButtons {
	display: flex;
	padding: 10px;
	justify-content: space-between;

	> button {
		&:active {
			background-color: $brown !important;
		}
	}
}
