@import '/src/assets/styles/_variables.scss';

.wrapper {
	background-color: #dec6c6;
	width: 103px;
	height: 103px;
	border-radius: 30px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10rem;
}

.form {
	text-align: center;
	padding: 34px;
	a {
		color: #fff;
		font-size: 16px;
	}
}
.value {
	background-color: #dec6c6;
	border-radius: 23px;
}

.wrapperButtons {
	> button {
		background: none;
		border: none;
		cursor: pointer;
		font-size: 13px;
	}
	/* display: flex;
	justify-content: space-between; */
}
