@import '/src/assets/styles/_variables.scss';
@import '/src/assets/styles/_mixins.scss';

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	@include page;
}

.wrapper {
	background-color: $bg-color-ui;
	width: 103px;
	height: 103px;
	border-radius: 30px;
	@include display-center;
}

.main {
	@include display-center;
	padding: 13px;
	background-color: $bg-color-ui;
	border-radius: 23px;
	margin-top: 5rem !important ;
	> form {
		width: 100%;
	}
}

.wrapperButtons {
	@include display-space-between;
	margin: 0 auto;
	width: 80%;
}
