@import '/src/assets/styles/_variables.scss';
@import '/src/assets/styles/_mixins.scss';
.center {
	text-align: center;
	margin: 6px 0 18px;
}

.before_after {
	@include display-space-between;
	text-align: center;
	@include page;
	@media (max-width: $mobile) {
		width: 90%;
	}
	.heading {
		margin-top: 1rem;
	}

	> div {
		width: 50%;
		@media (max-width: $mobile) {
			width: 48%;
		}
	}
}

.foto {
	display: flex;
	margin-top: 1rem;
	> img {
		margin: 0 auto;
		max-weight: 200px;
		min-height: 300px;
		border-radius: 10px;
		object-fit: cover;
		@media (max-width: $mobile) {
			min-height: 86%;
		}
	}
}
