@import '/src/assets/styles/_variables.scss';
@import '/src/assets/styles/_mixins.scss';

.main {
	@include page;
	align-items: center;
	border-radius: 10px;
	background-color: $bg-color-ui;
	margin: 0 auto;
	width: 90%;
	height: 50%;

	.title {
		margin-top: 3rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		> div {
			padding: 5px;

			text-align: center;
			@include display-center;

			@media (max-width: $mobile) {
				padding: 5px 3px;
				font-size: 18px;
			}
		}
	}

	.form {
		width: 90%;

		.exercise_times {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: 1rem;
			> div {
				margin: 0 auto;
				> input {
					width: 27px;
					background-color: transparent;
					border: none;
					color: $white;
					font-size: 20px;
				}
			}
		}
	}
}

.completed {
	display: flex;
	opacity: 0.5;
	text-decoration: line-through;
}

.line {
	border-bottom: 1px $bg-color-opacity solid;
}

.vertical_line {
	border-left: 0.3px $bg-color-opacity solid;
	height: 30px;
}
