@import '/src/assets/styles/_variables.scss';
@import '/src/assets/styles/_mixins.scss';

.exercise_log {
	@include page;
	padding: 16px 36px;
	align-items: center;
	max-height: 511px;
	@media (max-width: $mobile) {
		padding: 20px 30px !important;
	}
}
.title {
	@include display-space-between;
	text-align: center;
	margin: 0 auto;
}

.main {
	background-color: $bg-color-opacity;
	border-radius: 10px;
	height: 100%;

	@media (max-width: $mobile) {
		height: 80%;
	}
}

.exercise_times {
	@include display-space-between;
	align-items: center;

	> div {
		margin: 0 auto;
		> input {
			width: 40px;
			background-color: transparent;
			border: none;
			color: $white;
			font-size: 15px;
		}
	}
}
