@import url('https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

$gray: #b53471;
$dark-gray: #342f2f;
$darken-gray: #333;
$pink: #fad4e4;
$white: #f1e8e8;
$brown: #310c24;
$black: #1a0612;
$light-brown: #511734;
$flex: flex;

$default-font: 'Sofia Sans', sans-seri;

$mobile: 480px;
